.oneProduct {
    width: 270px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(192, 188, 188);
}

.oneProduct p {
    font-size: 20px;
    color: black;
    text-align: center;
}

.oneProduct img {
    width: 100%;
    height: 170px;
    object-fit: contain;
}

.oneProduct h2 {
    font-size: 20px;
    text-align: center;
    height: 50px;
}

.oneProduct h1 {
    font-size: 20px;
    color: orangered;
    text-align: center;
    height: 50px;
    overflow: hidden;
    margin: 8px 0;
}

.oneProduct h5 {
    font-size: 13px;
    text-align: center;
    height: 30px;
    overflow: hidden;
}

.oneProduct_PriceAndRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.oneProduct_PriceAndRating h2 {
    color: orangered;
    font-size: 30px;
}

.oneProduct button {
    background-color: orange;
    border: 1px solid orange;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
}

.oneProduct button:hover {
    background-color: orangered;
    color: white;
}

.allProducts {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 1650px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
}

@media (max-width:1640px) {
    .allProducts {
        width: 1340px;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width:1335px) {
    .allProducts {
        width: 930px;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:925px) {
    .allProducts {
        width: 650px;
        grid-template-columns: auto auto;
    }
}

@media (max-width:640px) {
    .allProducts {
        width: 350px;
        grid-template-columns: auto;
    }
}